/*product css*/

body{
    margin: 0;
    padding: 0;
}

.main-nav{
	
    background-color:black;
    display: flex;
    padding: 5px;
    /* position:fixed; */
    
}

.main-nav-details{
    flex:0.6;
    display: flex;
}
.main-nav-content{
	padding-left:30px 0px;
	margin:0;
    display: flex;
    flex-direction: column;
}
.main-nav-content h1
{
	color: #02F0FF;
	font-size:22px;
	padding:10px 0px;
	margin:0;
}
#lookingfor
{
	
}
.has-search .form-control {
    padding-left: 2.375rem;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left:30px;
    border-radius: 99px;
	
}

.has-search .form-control-feedback {
	border-radius:99px;
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.50rem;
    height:3rem;
    line-height: 3rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
	justify-content: space-evenly;
    align-self:center;
}

.main-nav-button-call{
    padding: 13px;
    border-radius: 99px;
    background-color: #007E86;
    display: flex;
    justify-content: space-evenly;
    align-self:center;
    border: 0;
    cursor: pointer;
    transition: all 200ms;
	color:white;
	
}

.main-nav-button-mail{
    padding: 15px;
    padding-right: 20px;
    border-radius: 99px;
    background: #02DAE8;
    display: flex;
    justify-content: space-evenly;
    align-self:center;
    color: white;
    border: 0;
    cursor: pointer;
    transition: all 200ms;
}
/*--------------------------------------------- main section ---------------------------*/
.mainsection{
  display: flex;
  padding-bottom: 15px;
}


/*-------------------------------------------------- top navabr ------------------------------------------ */

.search-button{
  border-radius:99px;height: 20px;
width: 34px;border:0;
color:#ef4f4f;
transition: all 500ms;
cursor: pointer;
}
.search-button:hover{
  background-color: black;
  color: white;
}

.input-field{
  padding:5px;
  border-radius:5px;
  border:0;
}

.navbar
{
	background:	#005257;

}

.products{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:0px 0px 5px 0px;
  padding-top: 0px;
  background-color:#F2F2F2;
}

.product-btn
{
	align-self:center;
	background: #02A6B0;
	outline-style:none;
	outline-color:#02A6B0;
	color:white;
	margin:5px;
	
}
/*=============================================== item ======================================*/
.items
{
margin:20px;
background: #FFFFFF;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}

.itmes-img
{

width: 90px;
height: 138px;
}
.itmes-title
{
	margin:10px;
	text-align:center;
}



.contactusbutton
{
		
	width:8rem;
	height:2rem;
	justify-content:center;
	background-color: #007E86;
	border-radius:5%;
	color: #FFFFFF;
	cursor: pointer;
    transition: all 200ms;
	margin:2rem;


}
/*=============================================== footer =====================================================*/

.footer{
  background-color: black;
  color:9FF9FF;
}
.footer-input{
  min-height: 40px;
  margin: 10px;
  padding: 10px;
  width: 250px;
  border-radius: 10px;
}
.footer-button{
	
  padding: 10px;
  border-radius: 99px;
  background-color: #1f6f8b;
  color: white;
  border: 0;
  cursor: pointer;
  transition: all 200ms;
  
}
.textarea
{
	align-self:center;
	min-height: 40px;
	margin:auto;
	padding: 10px;
	width: 250px;
	border-radius: 10px;
}
.footer-link{
  color:white;
  font-size:20px;
  transition: all 200ms;
}
.footer-link:hover{
  color:#00af91;
  cursor: pointer;
}
.footer a
{
	color:white;
}
